# Build artifacts
/build/
iso_root/
limine/
boredos.iso
disk.img
disk.qcow2
edk2-vars.fd
qemu-debug.log
boredos.dump

# Userland build outputs moved to external repositories

# Temporary files
**/.DS_Store
.DS_Store
*.o
*.a
*.idx
.cache/

# Others
.gitignore
