[submodule "external/libc"]
	path = external/libc
	url = https://github.com/boredos/libc.git
[submodule "external/bsh"]
	path = external/bsh
	url = https://github.com/boredos/bsh.git
[submodule "external/nova"]
	path = external/nova
	url = https://github.com/boredos/nova.git
[submodule "external/coreutils"]
	path = external/coreutils
	url = https://github.com/boredos/coreutils.git
[submodule "external/kilo"]
	path = external/kilo
	url = https://github.com/boredos/kilo.git
[submodule "external/boredos_install"]
	path = external/boredos_install
	url = https://github.com/boredos/boredos_install.git
[submodule "external/lua"]
	path = external/lua
	url = https://github.com/boredos/lua.git
[submodule "external/tcc"]
	path = external/tcc
	url = https://github.com/boredos/tcc.git
[submodule "external/netutils"]
	path = external/netutils
	url = https://github.com/boredos/netutils.git
[submodule "external/bart"]
	path = external/bart
	url = https://github.com/boredos/bart.git
[submodule "external/serenityicons"]
	path = external/serenityicons
	url = https://github.com/BoredOS/serenity-icons.git
[submodule "external/bfonts"]
	path = external/bfonts
	url = https://github.com/boredos/bfonts.git
[submodule "external/doomgeneric"]
	path = external/doomgeneric
	url = https://github.com/boredos/doomgeneric.git
[submodule "external/bearssl"]
	path = external/bearssl
	url = https://github.com/boredos/bearssl.git
[submodule "external/bpm"]
	path = external/bpm
	url = https://github.com/boredos/bpm.git
