# Build artifacts
/build/
iso_root/
boredos.iso
disk.img
disk.qcow2
edk2-vars.fd
qemu-debug.log
boredos.dump

# Userland
src/userland/bin/

# mlibc build output 
src/userland/mlibc/build/
src/userland/mlibc/headers-build/

# Temporary files
**/.DS_Store
.DS_Store
*.o
*.a

# Others
.gitignore
src/userland/cli/third_party/tcc/tcc.elf
src/userland/sdk/include/*
limine
