[submodule "contrib/libc"]
	path = contrib/libc
	url = https://github.com/boredos/libc.git
	ignore = all
[submodule "contrib/bsh"]
	path = contrib/bsh
	url = https://github.com/boredos/bsh.git
	ignore = all
[submodule "contrib/nova"]
	path = contrib/nova
	url = https://github.com/boredos/nova.git
	ignore = all
[submodule "contrib/coreutils"]
	path = contrib/coreutils
	url = https://github.com/boredos/coreutils.git
	ignore = all
[submodule "contrib/kilo"]
	path = contrib/kilo
	url = https://github.com/boredos/kilo.git
	ignore = all
[submodule "contrib/boredos_install"]
	path = contrib/boredos_install
	url = https://github.com/boredos/boredos_install.git
	ignore = all
[submodule "contrib/lua"]
	path = contrib/lua
	url = https://github.com/boredos/lua.git
	ignore = all
[submodule "contrib/tcc"]
	path = contrib/tcc
	url = https://github.com/boredos/tcc.git
	ignore = all
[submodule "contrib/netutils"]
	path = contrib/netutils
	url = https://github.com/boredos/netutils.git
	ignore = all
[submodule "contrib/bart"]
	path = contrib/bart
	url = https://github.com/boredos/bart.git
	ignore = all
[submodule "contrib/serenityicons"]
	path = contrib/serenityicons
	url = https://github.com/BoredOS/serenity-icons.git
	ignore = all
[submodule "contrib/bfonts"]
	path = contrib/bfonts
	url = https://github.com/boredos/bfonts.git
	ignore = all
[submodule "contrib/doomgeneric"]
	path = contrib/doomgeneric
	url = https://github.com/boredos/doomgeneric.git
	ignore = all
[submodule "contrib/bearssl"]
	path = contrib/bearssl
	url = https://github.com/boredos/bearssl.git
	ignore = all
[submodule "contrib/bpm"]
	path = contrib/bpm
	url = https://github.com/boredos/bpm.git
	ignore = all
[submodule "contrib/lwext4"]
	path = contrib/lwext4
	url = https://github.com/gkostka/lwext4.git
	ignore = all
